{% extends 'sis/detail_base.html' %}

{% block title %}Create a Course- Helmsman{% endblock %}

{% block content %}
<div class="card">
    <h1>Create a Course</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Editable: SBID (Course Subject) -->
        <div class="form-group">
            <label for="subj">Course Subject</label>
            <select id="subj" name="subj"
            data-db-field="srl_cours.srl_cours_sbid | scl_subjs.scl_subjs_hr_name">
                {% for subj in subjs %}
                    <option value="{{ subj.scl_subjs_sbid }}">
                        {{ subj.scl_subjs_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Editable: Course Number -->
        <div class="form-group">
            <label for="numb">Course Number</label>
            <input type="text" id="numb" name="bumb"
                   data-db-field="srl_cours.srl_cours_crse_num" disabled>
        </div>

        <!-- Editable: Course Name -->
        <div class="form-group">
            <label for="name">Course Name</label>
            <input type="text" id="name" name="name"
                   data-db-field="srl_cours.srl_cours_hr_name" required>
        </div>

        <!-- Editable: Credit Hours -->
        <div class="form-group">
            <label for="credit_hrs">Credit Hours</label>
            <input type="number" min="0" step="1" max="9" id="credit_hrs" name="credit_hrs"
                   required data-db-field="srl_cours.srl_cours_credit_hours" >
        </div>

        <button type="submit" class="btn">Save Changes</button>
        <a href="{% url 'sis:course_list' %}" class="btn btn-secondary">View List</a>
    </form>
</div>
{% endblock %}
