{% extends 'sis/detail_base.html' %}

{% block title %}{{ stucv.scm_stucv_cvid.scl_currv_mrid.scl_major_hr_name }} - Helmsman{% endblock %}

{% block content %}
<div class="card">
    <h1>Curriculum/Major Degree Audit</h1>
    <h2>Core Courses</h2>
    <table>
        <thead>
            <tr>
                <th data-db-field="scr_rqgrp.scr_rqgrp_hr_name">Course Subject</th>
                <th data-db-field="scr_rqgrp.scr_rqgrp_rtid | srl_rqtyp.srl_rqtyp_rtid | srl_rqtyp.srl_rqtyp_hr_name">Course Number</th>
                <th data-db-field="scr_rqgrp.scr_rqgrp_min_courses">Course Name</th>
                <th data-db-field="scr_rqgrp.scr_rqgrp_min_courses">Satisfied By</th>
                <th data-db-field="scr_rqgrp.scr_rqgrp_min_courses">Final Mark</th>
            </tr>
        </thead>
        {% for audit in audits %}
            <tr>
                {% if audit.hsv_audit_group_ind == 'N' %}
                <td>{{ audit.hsv_audit_sbid }}</td>
                <td>{{ audit.hsv_audit_crse_numb }}</td>
                <td>{{ audit.hsv_audit_crse_name }}</td>
                <td>{{ audit.hsv_audit_stid }}</td>
                <td>{{ audit.hsv_audit_final_mark }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% for rqgrp in rqgrps %}
    <h2>{{ rqgrp.scr_rqgrp_hr_name }}</h2>
    <table>
        <thead>
            <tr>
                <th data-db-field="scr_rqgrp.scr_rqgrp_hr_name">Course Subject</th>
                <th data-db-field="scr_rqgrp.scr_rqgrp_rtid | srl_rqtyp.srl_rqtyp_rtid | srl_rqtyp.srl_rqtyp_hr_name">Course Number</th>
                <th data-db-field="scr_rqgrp.scr_rqgrp_min_courses">Course Name</th>
            </tr>
        </thead>
        {% for audit in audits %}
            <tr>
                {% if audit.hsv_audit_rtid == rqgrp.scr_rqgrp_rtid_id %}
                <td>{{ audit.hsv_audit_sbid }}</td>
                <td>{{ audit.hsv_audit_crse_numb }}</td>
                <td>{{ audit.hsv_audit_crse_name }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}
