{% extends 'sis/detail_base.html' %}

{% block title %}Create Curriculum - Helmsman{% endblock %}

{% block content %}
<div class="card">
    <h1>Create Curriculum</h1>

    <form method="post">
        <!-- Major -->
        <div class="form-group">
            <label for="major">Effective Term</label>
            <select id="major" name="major"
            data-db-field="scl_currv.scl_currv_mrid | scl_major.scl_major_hr_name">
                {% for major in majors %}
                    <option value="{{ major.scl_major_mrid }}">
                        {{ major.scl_major_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Effective Term -->
        <div class="form-group">
            <label for="eff_term">Effective Term</label>
            <select id="eff_term" name="eff_term"
            data-db-field="scl_currv.scl_currv_effective_term | sgl_term.sgl_term_tmid | sgl_term.sgl_term_hr_name">
                {% for term in terms %}
                    <option value="{{ term.sgl_terms_tmid }}">
                        {{ term.sgl_terms_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Editable: Crtyp -->
        <div class="form-group">
            <label for="crtyp">Curriculum Type</label>
            <select id="crtyp" name="crtyp"
            data-db-field="scl_currv.scl_currv_ctid | scl_crtyp.scl_crtyp_ctid | scl_crtyp.scl_crtyp_hr_name">
                {% for crtyp in crtyps %}
                    <option value="{{ crtyp.scl_crtyp_ctid }}">
                        {{ crtyp.scl_crtyp_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="mark_avg">Mininum Mark Average</label>
            <input type="number" step="0.01" min="0" max="100" 
                   id="mark_avg" name="mark_avg" value="70"
                   data-db-field="scl_currv.scl_currv_min_mark_avg">
        </div>

        <div class="form-group">
            <label for="min_gpa">Minimum GPA</label>
            <input type="number" step="0.05" min="0" max="4" 
                   id="min_gpa" name="min_gpa" value=""
                   data-db-field="scl_currv.scl_currv_min_gpa">
        </div>

        <div class="form-group">
            <label for="min_credits">Minimum Credit Hour</label>
            <input type="number" step="1" min="0" max="160" 
                   id="min_credits" name="min_credits" value="160"
                   data-db-field="scl_currv.scl_currv_min_mark_avg" required>
        </div>

        <button type="submit" class="btn" name="update_currv">Save Changes</button>
        <a href="{% url 'sis:curriculum_list' %}" class="btn btn-secondary">Back to List</a>
    </form>
</div>
{% endblock %}
