{% extends 'sis/detail_base.html' %}

{% block title %}Enroll Student {{ sterm.srh_sterm_rbid.gum_ident_first_name }} {{ sterm.srh_sterm_rbid.gum_ident_last_name }} - Helmsman{% endblock %}

{% block content %}
<div class="card">
    <h1>Create Section</h1>

    <form method="post">
        {% csrf_token %}
        <!--   RBID -->
        <div class="form-group">
            <label>RBID</label>
            <input type="text" value="{{ sterm.srh_sterm_rbid_id }}" disabled
                   data-db-field="srh_sterm.srh_sterm_rbid | gum_ident.gum_ident_rbid">
        </div>

        <!--   Name -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" value="{{ sterm.srh_sterm_rbid.gum_ident_first_name }} {{ sterm.srh_sterm_rbid.gum_ident_last_name }}" disabled
                   data-db-field="gum_ident.gum_ident_first_name | gum_ident.gum_ident_last_name">
        </div>

        <!--   Term -->
        <div class="form-group">
            <label>Term</label>
            <input type="text" value="{{ sterm.srh_sterm_tmid_id }} {{ sterm.srh_sterm_tmid.sgl_terms_hr_name }}" disabled
                   data-db-field="srh_sterm.srh_sterm_rbid | sgl_terms.sgl_terms_hr_name">
        </div>

        <!-- Select: Course -->
        <div class="form-group">
            <label for="section">Course</label>
            <select id="section" name="section"
            data-db-field="srh_enrol.srh_enrol_stid | srb_sects.srb_sects_stid | srl_cours.srl_cours_crid | srl_cours.srl_cours_hr_name">
                {% for sect in sects %}
                    <option value="{{ sect.srb_sects_stid }}">
                        {{ sect.srb_sects_crid.srl_cours_hr_name }}
                    </option>
                {% empty %}
                    <option value="NULL">-- No sections available --</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn">Save Changes</button>
        <a href="{% url 'sis:section_list' %}" class="btn btn-secondary">Go to List</a>
    </form>
</div>
{% endblock %}
