{% extends 'sis/detail_base.html' %}

{% block title %}Select term for {{ persom.gumadinf.gum_adinf_pref_first_name|default:person.gum_ident_first_name }} {{ person.gum_ident_last_name }} {% endblock %}

{% block content %}
<div class="card">
    <h2>Create Enrollment</h2>

    <form method="POST">
        {% csrf_token %}
        <!--   RBID -->
        <div class="form-group">
            <label>RBID</label>
            <input type="text" value="{{ person.gum_ident_rbid }}" disabled
                   data-db-field="srh_sterm.srh_sterm_rbid | gum_ident.gum_ident_rbid">
        </div>

        <!--   Name -->
        <div class="form-group">
            <label>First Name</label>
            <input type="text" value="{{ persom.gumadinf.gum_adinf_pref_first_name|default:person.gum_ident_first_name }} {{ person.gum_ident_last_name }}" disabled
                   data-db-field="gum_ident.gum_ident_first_name | gum_ident.gum_ident_last_name">
        </div>

        <div class="form-group">
            <label for="terms-dropdown">Term</label>
            <select id="terms-dropdown" name="term">
            {% for term in terms %}
                <option value="{{ term.srh_sterm_tsid }}">
                    {{ term.srh_sterm_tmid.sgl_terms_hr_name }}
                </option>
            {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn">Continue</button>
        <a href="{% url 'sis:dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}

