{% extends 'sis/detail_base.html' %}

{% block title %}Create a Section - Helmsman{% endblock %}

{% block content %}
<div class="card">
    <h1>Create a Section</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Select: Course -->
        <div class="form-group">
            <label for="course">Course</label>
            <select id="course" name="course"
            data-db-field="srb_sects.srb_sects_crid | srl_cours.srl_cours_crid | srl_cours.srl_cours_hr_name">
                {% for course in courses %}
                    <option value="{{ course.srl_cours_crid }}">
                        {{ course.srl_cours_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Select: Term -->
        <div class="form-group">
            <label for="term">Term</label>
            <select id="term" name="term"
            data-db-field="srb_sects.srb_sects_tmid | sgl_terms.sgl_terms_tmid | sgl_terms.sgl_terms_hr_name">
                {% for term in terms %}
                    <option value="{{ term.sgl_terms_tmid }}">
                        {{ term.sgl_terms_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Select: Prim Inst -->
        <div class="form-group">
            <label for="prim_inst">Primary Instructor</label>
            <select id="prim_inst" name="prim_inst"
            data-db-field="srb_sects.srv_sects_prim_inst | gum_ident.gum_ident_rbid | gum_ident.gum_ident_first_name | gum_ident.gum_ident_last_name">
                {% for person in persons %}
                    <option value="{{ person.gum_ident_rbid }}">
                        {{ person.gum_ident_first_name }} {{ person.gum_ident_last_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Select: scnd Inst -->
        <div class="form-group">
            <label for="scnd_inst">Secondary Instructor</label>
            <select id="scnd_inst" name="scnd_inst"
            data-db-field="srb_sects.srv_sects_scnd_inst | gum_ident.gum_ident_rbid | gum_ident.gum_ident_first_name | gum_ident.gum_ident_last_name">
                {% for person in persons %}
                    <option value="{{ person.gum_ident_rbid }}">
                        {{ person.gum_ident_first_name }} {{ person.gum_ident_last_name }}
                    </option>
                {% endfor %}
                <option value="NULL" selected></option>
            </select>
        </div>

        <button type="submit" class="btn">Save Changes</button>
        <a href="{% url 'sis:section_list' %}" class="btn btn-secondary">Go to List</a>
    </form>
</div>
{% endblock %}
