{% extends 'sis/detail_base.html' %}

{% block title %}Create a Term - Helmsman{% endblock %}

{% block content %}
<div class="card">
    <h1>Create a term</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Editable: Year -->
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" id="year" name="year" required
                   data-db-field="sgl_terms.sgl_terms_year">
        </div>

        <!-- Select: Semester -->
        <div class="form-group">
            <label for="smid">Semester</label>
            <select id="smid" name="smid"
            data-db-field="sgl_terms.sgl_terms_smid | sgl_smstr.sgl_smstr_hr_name">
                {% for smstr in smstrs %}
                    <option value="{{ smstr.sgl_smstr_smid }}">
                        {{ smstr.sgl_smstr_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Editable: Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required
                   data-db-field="sgl_terms.sgl_terms_hr_name">
        </div>

        <!-- Editable: Fiscal Year -->
        <div class="form-group">
            <label for="fyid">Financial Aid Year</label>
            <select id="fyid" name="fyid"
            data-db-field="sgl_terms.sgl_terms_fyid | fgl_fyear.fgl_fyear_fyid">
                {% for fyear in fyears %}
                    <option value="{{ fyear.fgl_fyear_fyid }}">
                        {{ fyear.fgl_fyear_fyid }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Editable: Start Date -->
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" id="start_date" 
                   value="{{ today }}" name="start_date"
                   required data-db-field="sgl_terms.sgl_terms_start_date">
        </div>

        <!-- Editable: Start Date -->
        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="date" id="end_date" 
                   value="{{ today }}" name="end_date"
                   required data-db-field="sgl_terms.sgl_terms_end_date">
        </div>

        <button type="submit" class="btn">Save Changes</button>
        <a href="{% url 'sis:term_list' %}" class="btn btn-secondary">Back to List</a>
    </form>
</div>
{% endblock %}
