{% extends 'sis/detail_base.html' %}

{% block title %}{{ term.sgl_terms_hr_name }} - Helmsman{% endblock %}

{% block content %}
<div class="card">
    <h1>Person Details</h1>

    <form method="post">
        {% csrf_token %}

        <!-- TMID (Term ID) -->
        <div class="form-group">
            <label>TMID</label>
            <input type="text" value="{{ term.sgl_terms_tmid }}" disabled
                   data-db-field="sgl_terms.sgl_terms_tmid">
        </div>

        <!-- Year -->
        <div class="form-group">
            <label>TMID</label>
            <input type="text" value="{{ term.sgl_terms_year }}" disabled
                   data-db-field="sgl_terms.sgl_terms_year">
        </div>

        <!-- Semester -->
        <div class="form-group">
            <label>TMID</label>
            <input type="text" value="{{ term.sgl_terms_smid.sgl_smstr_hr_name  }}" disabled
                   data-db-field="sgl_terms.sgl_terms_smid | sgl_smstr_hr_name">
        </div>

        <!-- Name -->
        <div class="form-group">
            <label>TMID</label>
            <input type="text" value="{{ term.sgl_terms_hr_name  }}" disabled
                   data-db-field="sgl_terms.sgl_terms_hr_name">
        </div>

        <!-- Editable: Fiscal Year -->
        <div class="form-group">
            <label for="fyid">Citizenship Code</label>
            <select id="fyid" name="fyid"
            data-db-field="gum_adinf.gum_adinf_czid | ggl_citzn.ggl_citzn_hr_name">
                {% for fyear in fyears %}
                    <option value="{{ fyear.fgl_fyears_fyid }}"
                    {% if fyear.fgl_fyears_fyid == term.sgl_terms_fyid %}selected{% endif %}>
                        {{ fyear.fgl_fyear_hr_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Editable: Start Date -->
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" id="start_date" 
                   value="{{ term.sgl_terms_start_date|date:'Y-m-d' }}" name="start_date"
                   required data-db-field="gum_ident.gum_ident_birthday">
        </div>

        <!-- Editable: Start Date -->
        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="date" id="end_date" 
                   value="{{ term.sgl_terms_end_date|date:'Y-m-d' }}" name="end_date"
                   required data-db-field="gum_ident.gum_ident_birthday">
        </div>

        <button type="submit" class="btn">Save Changes</button>
        <a href="{% url 'sis:term_list' %}" class="btn btn-secondary">Back to List</a>
    </form>
</div>
{% endblock %}
